<ul>
    <li>
        @Html.ActionLink(T("Subscribe").Text, "Subscribe", "MailingList", new { area = "OrchardHarvest2014.WorkflowsJobsDemo" })
    </li>
    <li>
        @Html.ActionLink(T("Unsubscribe").Text, "Unsubscribe", "MailingList", new { area = "OrchardHarvest2014.WorkflowsJobsDemo" })
    </li>
</ul>